# Database configuration
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USER=
DB_PASSWORD=

# Frontend hidden field configuration
NEXT_PUBLIC_HIDDEN_PLAN_NAME=
NEXT_PUBLIC_HIDDEN_COUNTRY=
NEXT_PUBLIC_HIDDEN_CURRENCY=

# Gateway configuration
GATEWAY_API_URL=
GATEWAY_API_KEY=
GATEWAY_USERNAME=
GATEWAY_PASSWORD=
NEXT_PUBLIC_APP_URL=
GATEWAY_AUTH_URL=
GATEWAY_ACCOUNT_KEY=

# Brevo sending email configuration
BREVO_API_KEY=
BREVO_API_URL=
MAIL_FROM_NAME=
MAIL_FROM_ADDRESS=
MAIL_BCC_ADDRESS=
PAYMENT_SUCCESS_TEMPLATE_ID=

SUPPORT_MAIL_ADDRESS=

NEXT_PUBLIC_PROTECTED_PASSWORD_VALUE=""
NEXT_PUBLIC_PROTECTED_PASSWORD=

NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=